.recentWorks {
  padding: 4rem 0;
  .recentWorkHeader {
    .textSide {
      position: relative;
      h2 {
        font-size: 2.75rem;
        text-transform: uppercase;
        color: #000000;
        text-align: center;
        font-weight: 600;
        padding-bottom: 1rem;
      }
      &::before {
        content: "";
        height: 3px;
        width: 10%;
        background-color: #000000;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        z-index: 9;
      }
    }
    .selectionSide {
      padding: 3rem 0;
      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        li {
          border: 1px solid #f3eaea;
          padding: 6px 27px;
          text-transform: uppercase;
          font-size: 13px;
          border-radius: 6px;
          transition: all 0.3s;
          display: inline-block;
          margin: 0 5px 10px;
          &:hover {
            background-color: #000000;
            color: #ffffff;
            cursor: pointer;
          }
        }
      }
    }
  }
  .recentWorkDisplay {
    .filter-container {
      text-align: center;
      .filtr-item {
        position: static;
        .imageHolder {
          text-align: center;
          img {
            width: 100%;
            padding: 1rem;
          }
        }
      }
    }
  }
}
