@import "../../common/common.scss";

.header {
  background-color: $mainBgColor;
  align-items: center;
  .logoSide {
    align-items: center;
  }
  .logoSideSmall{
    padding: 1rem 0;
    background-color: $mainTextLightColor;
    justify-content: center;

  }
  .navSide {
    color: $mainTextLightColor;
    justify-content: flex-end;
    & > ul {
      // gorunen ul
      display: flex;
      align-items: center;
      justify-content: center;
      & > li {
        //   gorunen li-ler
        font-size: 17px;
        text-transform: uppercase;
        position: relative;
        padding: 38px 10px 38px 0px;
        color: $mainTextLightColor;
        font-weight: bold;
        & > a {
          //   // kontakt + start here
          color: $mainTextLightColor;
          text-decoration: none;
        }
        .subMenu {
          // alt menu
          background-color: transparent;
          position: absolute;
          z-index: 9;
          opacity: 0;
          visibility: hidden;
          width: 15rem;
          top: 200%;
          left: 0;
          font-weight: normal;
          transition: all 0.25s ease-in;
          ul {
            display: flex;
            flex-direction: column;

            li {
              border-bottom: 1px solid $mainTextLightColor;
              position: relative;
              a {
                display: inline-block;
                font-size: 1vw;
                padding: 1rem;
                width: 100%;
                color: $mainTextLightColor;
                text-decoration: none;
                transition: all 0.3s;
                &:hover {
                  background-color: $mainTextLightColor;
                  color: $mainBgColor;
                }
              }
              .subMenu {
                /// portfolio alt menusu hoverden evvel
                left: 100%;
                top: 100%;
              }
              .subMenu.active {
                /// portfolio alt menusu
                left: 100%;
                top: 0;
              }
            }
          }
          &.active {
            background-color: #000000;
            opacity: 1;
            visibility: visible;
            top: 100%;
          }
        }
      }
    }
    // ox iconlarona tesir
    .MuiSvgIcon-root {
      color: gray;
    }
    .startHere {
      a {
        background-color: $mainTextLightColor;
        color: transparent;
        padding: 12px 24px;
        border-radius: 8px;
        position: relative;
        &::after {
          content: "";
          height: 0;
          width: 100%;
          border-radius: 8px;
          background-color: $mainBgColor;
          position: absolute;
          left: 0;
          bottom: 0;
          z-index: 9;
          transition: 0.3s;
        }
        &::before {
          content: "START HERE";
          height: 100%;
          width: 100%;
          border-radius: 8px;
          background-color: transparent;
          color: $mainBgColor;
          position: absolute;
          left: 0;
          bottom: 0;
          z-index: 99;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 0.3s;
        }
        &:hover {
          &::after {
            height: 100%;
          }
        }
        &:hover {
          &::before {
            color: $mainTextLightColor;
          }
        }
      }
    }
  }
  //////////////burgermenu////////////////

  .burgerMenu {
    position: relative;
    font-size: 12px;
    text-transform: uppercase;
    .burgerHeader {
      width: 100%;
      color: $mainTextLightColor;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 0;
      h5 {
        font-weight: bold;
      }
      .MuiSvgIcon-root {
        cursor: pointer;
      }
    }
    .burgerSecretMenu {
      left: 0;
      top: 100%;
      width: 100%;
      max-height: 0;
      overflow: hidden;
      background-color: $mainTextLightColor;
      transition: all 0.5s ease-in;
      .listHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        border-bottom: 1px solid #cdcbcbad;
        cursor: pointer;
        h6,
        span {
          font-size: 14px;
          font-weight: bold;
        }
      }
      .listSecret {
        max-height: 0;
        overflow: hidden;
        transition: all 0.5s ease-out;
        ul {
          li {
            border-bottom: 1px solid #cdcbcbad;
            a {
              text-decoration: none;
              color: $mainBgColor;
              display: block;
              padding: 0.75rem 0.75rem 0.75rem 5rem;
              transition: background-color 0.3s;
              &:hover {
                background-color: #c4c4c47e;
              }
            }
            &:last-child {
              border-bottom: none;
            }
          }
        }
      }
      .listSecret.active {
        max-height: 600px;
      }
    }
    .burgerSecretMenu.active {
      max-height: 1400px;
    }
  }
}

@media only screen and (min-width: 992px) {
  //header componenti boyuk olcude fixed qalmasi ucun

  .header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
  }
  .navSide {
    ul {
      li {
        //gorunen li-ler
        font-size: 11px !important;
      }
    }
  }
  .navSide {
    ul {
      li {
        .subMenu {
          ul {
            li {
              a {
                //submenu li-ler
                font-size: 10px !important;
              }
            }
          }
        }
      }
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1080px) {
  .navSide {
    ul {
      li {
        //gorunen li-ler
        font-size: 13px !important;
      }
    }
  }
  .navSide {
    ul {
      li {
        .subMenu {
          ul {
            li {
              a {
                //submenu li-ler
                font-size: 11px !important;
              }
            }
          }
        }
      }
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .navSide {
    ul {
      li {
        font-size: 15px !important;
      }
    }
  }
  .navSide {
    ul {
      li {
        .subMenu {
          ul {
            li {
              a {
                //submenu li-ler
                font-size: 13px !important;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1400px) {
  .navSide {
    ul {
      li {
        font-size: 17px !important;
      }
    }
  }
  .navSide {
    ul {
      li {
        .subMenu {
          ul {
            li {
              a {
                //submenu li-ler
                font-size: 15px !important;
              }
            }
          }
        }
      }
    }
  }
}
